<div class="container emp-profile card-header  card-body  font-weight-bold">
        <div class="row">
            <div class=" col-lg-12 card py-2 text-center font-weight-bold">Registration</div>
            <div class="col-lg-4">
                <%= bootstrap_form_for @user do |form| %>
                <div class="profile-head pt-2">
                    <%= form.text_field :username, hide_label: true, placeholder: 'Username', class: 'text-left font-weight-normal' %>
                    <%= form.text_field :firstname, hide_label: true, placeholder: 'Firstname', class: 'text-left font-weight-normal' %>
                    <%= form.text_field :lastname, hide_label: true, placeholder: 'Lastname', class: 'text-left font-weight-normal' %>
                    <%= form.email_field :email, hide_label: true, placeholder: 'E-mail', class: 'text-left font-weight-normal' %>
                    <%= form.password_field :password, hide_label: true, placeholder: 'Password', class: 'text-left font-weight-normal' %>
                    <%= form.password_field :password_confirmation, hide_label: true, placeholder: 'Confirm Password', class: 'text-left font-weight-normal' %>
                </div>
                <div class="">
                    <%= form.file_field :image, hide_label: true, class: 'text-left' %>
                </div>
            </div>
            <div class="col-lg-4 text-center">

            </div>
        <div class="col-lg-4 mt-2">
                <div class="profile-img text-center">
                     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Add Photo
                        <input type="file" name="file"/>
                    </div>
                    <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                    </div>
                </div>
        </div>
    </div> 
    <div class="col-lg-12  text-center"><%= form.primary "Register" %></div>
    <% end %>
</div> 
    
    