<div class="container emp-profile card-header  card-body  font-weight-bold">
        <div class="row">
            <div class=" col-lg-12 card py-2 text-center font-weight-bold">Registration</div>
            <div class="col-lg-4">
                <%= form_for @user do |form| %>
                <div class="profile-head pt-4">

                    <%= form.text_field :username, hide_label: true, placeholder: 'Username', class: 'text-left form-control' %> <br>
                    
                    <%= form.text_field :firstname, hide_label: true, placeholder: 'Firstname', class: 'text-left form-control' %> <br>
                    
                    <%= form.text_field :lastname, hide_label: true, placeholder: 'Lastname', class: 'text-left form-control' %> <br>
                    
                    <%= form.email_field :email, hide_label: true, placeholder: 'E-mail', class: 'text-left form-control' %> <br>
                    
                    <%= form.password_field :password, hide_label: true, placeholder: 'Password', class: 'text-left form-control' %> <br>
                    
                    <%= form.password_field :password_confirmation, hide_label: true, placeholder: 'Confirm Password', class: 'text-left form-control' %> <br>
                    <%= form.file_field :avatar_file, hide_label: true, class: 'text-left form-control' %> <br>
                </div>
            </div>
            <div class="col-lg-4 text-center">

            </div>
        <div class="col-lg-4 mt-2">
        </div>
    </div> 
    <div class="col-lg-12  text-center"><%= form.submit "Register" %></div>
    <% end %>
</div> 
