<div class=" col-lg-12 card py-2 text-center font-weight-bold"> <%= @user.lastname %> </div>
<div class="container emp-profile card-header  card-body  font-weight-bold pt-4">
            <div class="row pt-2">
                <div class="col-md-4 text-center">
                    <div class="profile-img">
                    <%= image_tag(@user.image, class: 'w-2') %>
                    <div class="profile-head">
                         Firstname: <h6><%= @user.firstname %></h6>
                         Lastname: <h6><%= @user.lastname %></h6>
                         Email: <h6><%= @user.email %></h6>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profile-head border rounded">
                        <u><h5>Description</h5></u>
                        <p><%#= @user.description %></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                </div>
            </div>
        <%# end %>
            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br/>
                        <a href="">Bootsnipp Profile</a><br/>
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br/>
                        <a href="">Web Developer</a><br/>
                        <a href="">WordPress</a><br/>
                        <a href="">WooCommerce</a><br/>
                        <a href="">PHP, .Net</a><br/>
                    </div>
                </div>
            </div> -->
    </div>
